security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js|assets|build)/
            security: false
        
        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                username_parameter: email  # <--- HIER: Sag Symfony, dass das Feld im HTML 'email' heißt
                password_parameter: password
                default_target_path: app_exams_dashboard
            
            logout:
                path: app_logout
                target: app_login

    access_control:
        # Erlaubt Zugriff auf Login (Root) und Registrierung für alle
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        # Restliche Seite nur für angemeldete User
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10