    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

        role_hierarchy:
            ROLE_ADMIN:       ROLE_EXAMINER
            ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

        providers:
            app_user_provider:
                entity:
                    class: App\Entity\User
                    property: email

        firewalls:
            dev:
                pattern: ^/(_(profiler|wdt)|css|images|js|assets|build)/
                security: false
            
            main:
                lazy: true
                provider: app_user_provider
                switch_user: true 

                user_checker: App\Security\UserChecker

                form_login:
                    form_login:
                    login_path: app_login
                    check_path: app_login
                    enable_csrf: true
                    username_parameter: email
                    password_parameter: _password
                    # ÄNDERUNG HIER:
                    default_target_path: app_exams_dashboard
                    use_target_path: true  # <--- Erlaubt das Ziel aus der URL (_target_path)
                    always_use_default_target_path: false # <--- WICHTIG: Nicht immer zum Dashboard zwingen
                
                logout:
                    path: app_logout
                    target: app_home

        access_control:
        # 1. Nur für echte Admins (User-Verwaltung, System-Einstellungen)
        - { path: ^/admin/user, roles: ROLE_ADMIN }
        - { path: ^/admin/settings, roles: ROLE_ADMIN }

        # 2. Für Admins UND Examiner (Prüfungsergebnisse, Listen, Teilnehmer)
        - { path: ^/exams, roles: [ROLE_EXAMINER] }
        - { path: ^/admin/participants, roles: [ROLE_ADMIN, ROLE_EXAMINER] }
        
        # 3. Das persönliche Trainings-Portal (für alle)
        - { path: ^/sportabzeichen, roles: ROLE_USER }

    when@test:
        security:
            password_hashers:
                Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                    algorithm: auto
                    cost: 4
                    time_cost: 3
                    memory_cost: 10