security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # --- HIER: Rollen-Hierarchie definieren ---
    role_hierarchy:
        ROLE_ADMIN:       ROLE_EXAMINER
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js|assets|build)/
            security: false
        
        main:
            lazy: true
            provider: app_user_provider
            
            # --- HIER: User Switch aktivieren ---
            switch_user: true 

            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                username_parameter: email
                password_parameter: _password
                default_target_path: app_exams_dashboard
            
            logout:
                path: app_logout
                target: app_login

    access_control:
        # 1. Öffentliche Bereiche (Müssen GANZ OBEN stehen)
        - { path: ^/$, roles: PUBLIC_ACCESS }        # Die Landingpage
        - { path: ^/login, roles: PUBLIC_ACCESS }    # Die Login-Seite
        - { path: ^/register, roles: PUBLIC_ACCESS } # Die Registrierung
        
        # 2. Interner Bereich
        - { path: ^/admin, roles: ROLE_ADMIN }       # Admin-Bereich
        
        # 3. Der "Auffang-Schutz"
        # Alle anderen URLs (z.B. das Dashboard für Prüfer) brauchen ROLE_USER
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10