{# Definition der Tabs #}
{% set tabs = [
    { id: 'exams', route: 'admin_exam_overview', icon: 'fa-home', label: 'Übersicht' },
    { id: 'users', route: 'admin_user_index', icon: 'fa-user-tie', label: 'Personal' }, 
    { id: 'participants_manage', route: 'admin_participants_index', icon: 'fa-users', label: 'Teilnehmer' },
    { 
        id: 'groups', 
        route: 'app_admin_group_index', 
        icon: 'fa-layer-group', 
        label: 'Gruppen' 
    },
    { 
        id: 'institution_edit', 
        route: 'admin_institution_settings', 
        icon: 'fa-university', 
        label: 'Schuldaten' 
    },
    { 
        id: 'institutions', 
        route: 'admin_institution_index', 
        icon: 'fa-university', 
        label: 'Schulen / Inst.', 
        role: 'ROLE_SUPER_ADMIN' 
    },
    { 
        id: 'requirements', 
        route: 'admin_requirements_upload', 
        icon: 'fa-list-alt', 
        label: 'Anforderungen', 
        role: 'ROLE_SUPER_ADMIN' 
    }
] %}

<div class="mb-4">
    <ul class="nav nav-tabs">
        {% for tab in tabs %}
            {# ANZEIGELOGIK: #}
            {# Zeige Tab, wenn KEINE Rolle definiert ist ODER wenn der User die definierte Rolle hat #}
            {% if tab.role is not defined or is_granted(tab.role) %}
                <li class="nav-item">
                    <a class="nav-link {{ activeTab|default('') == tab.id ? 'active' : '' }}" 
                       href="{{ path(tab.route) }}">
                        <i class="fas {{ tab.icon }}"></i> {{ tab.label }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>