{# Definition der Tabs #}
{% set tabs = [
    { id: 'dashboard', route: 'admin_dashboard', icon: 'fa-home', label: 'Übersicht' },
    { id: 'participants_manage', route: 'admin_participants_index', icon: 'fa-users', label: 'Teilnehmer' },
    { id: 'import', route: 'admin_participants_upload', icon: 'fa-file-upload', label: 'Import Teilnehmer' },
    { id: 'upload', route: 'admin_upload', icon: 'fa-list-alt', label: 'Anforderungen' }
] %}

<div class="mb-4">
    <ul class="nav nav-tabs">
        {% for tab in tabs %}
            <li class="nav-item">
                <a class="nav-link {{ activeTab == tab.id ? 'active' : '' }}" 
                   href="{{ path(tab.route) }}">
                   {# Wir nutzen hier direkt das FontAwesome Tag #}
                   <i class="fas {{ tab.icon }}"></i> {{ tab.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>